# Enable URL rewriting
RewriteEngine On

# Base directory
RewriteBase /

# If the request is not for a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to the index.html file
RewriteRule ^(.*)$ index.html [L]
